html{
    width: 100%;
    margin: 0 0 0 0;
    color: #d1cbcb;
}

body {
    width: 100%;
    margin: 0 0 0 0;
    background-color: #262525;
    font-family: Arial;
    overflow-x: hidden;
}

#menuBar {
    background-color: #202024;
    position: absolute;
    height: 100px;
    top: 0px;
    left: 0px;
    width: 100%;
}

#menuBar h1 {
    margin-left: 10vw;
    font-size: 40px;
    color: inherit;
}

#contentContainer{
    position: absolute;
    top: 150px;
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 100px;
}

#listContainer{
    position: absolute;
    /*background-color: black;*/
    margin-left: 10vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#listItemDetailsContainer{
    width: 30vw;
    margin-left: 65vw;
    padding-left: 1vw;
    background-color: #202024;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#listHeaderContainer{
    width: inherit;
    border-style: solid;
    border-width: 1px;
    border-radius: 1vw;
    margin-bottom: 1vw;
}

#listHeader{
    margin-left: 1vw;
    font-size: 50px;
}

.listBody{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: inherit;
    height: inherit;
}

#list{
    margin: inherit;
    padding: inherit;
    width: inherit;
    height: inherit;
}

.listItem, #newListItem{
    border-radius: 1vw;
    margin-bottom: 0.2em;
    height: 100px;
    width: inherit;
    color: #d1cbcb;
    background-color: #202024;
    font-size: 40px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

#newListItem{
    width: 50vw;
    position: fixed;
    bottom: 0px;
    left: 10vw;
    border-style: solid;
    border-width: 1px;
}

.listItem:hover, .selected{
    background-color: #315cde;
}

/* When you are hoving over or viewing in detail */
.listItem.viewedInDetail{
    background-color: #315cde;
}

.listItemTextArea, #newListItemTextArea{
    font-size: inherit;
    color: inherit;
    resize:none;
    background-color: inherit;
    border: none;
    outline: none;
    margin-top: 1.2vw;
    margin-bottom: 2vw;
    margin-left: 1vw;
    margin-right: 0px;
    height: 50px;
    width: 39vw;
    overflow:hidden
}

.listItemLabel{
    display: inline-block;
    width: 10vw;
    height: inherit;
    text-align: center;
    margin-top: 1.5vw;
    margin-bottom: 2vw;
}

.itemDetailsTextArea{
    color: inherit;
    font-size: 20px;
    background-color: #202024;
    border: none;
    resize:none;
    outline: none;
}

.itemDetailsLabel{
    color: inherit;
    background-color: #202024;
    font-size: 20px;
    font-weight: bold;
}

#itemDetails_name{
    background-color: #202024;
    font-weight: bold;
    font-size: 30px;
}

#quantityLabel{
    height: 5vh;
}

#itemDetails_quantity{
    height: 5vh;
    max-width: 5vw;
    overflow: hidden;
}

.itemDetailsInputContainer{
    background-color: #202024;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#extraBottomSpace{
    height: 20vh;
    bottom: 0;
}

