*.o
*.exe
*.out
JavaScript App 1/images/user_images/
*.pyc
*.notes
*.ignoredata
JavaScript App 1/node_modules/
JS Code Checker/.DS_Store
.DS_Store
.DS_Store
/JS Code Checker/old
/Postgresql App 1/data
Postgresql App 1/logfile
CPP App 1/notes.txt
CPP App 1/current_todo.txt
/Guitar Lyrics Program/songs/local
