html{
    width: 100%;
    margin: 0 0 0 0;
    color: #d1cbcb;
}

body {
    width: 100%;
    margin: 0 0 0 0;
    background-color: #262525;
    font-family: Arial;
    overflow-x: hidden;
}

#menuBar {
    background-color: #202024;
    position: absolute;
    height: 10vh;
    top: 0vh;
    left: 0vh;
    width: 100%;
}

#menuBar h1 {
    margin-left: 10vw;
    font-size: 5vh;
    color: inherit;
}

#contentContainer{
    position: absolute;
    top: 15vh;
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 10vh;
}

#listContainer{
    position: absolute;
    /*background-color: black;*/
    margin-left: 10vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#listItemDetailsContainer{
    width: 30vw;
    margin-left: 65vw;
    padding-left: 1vw;
    background-color: #202024;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
}

#listHeaderContainer{
    width: inherit;
    border-style: solid;
    border-width: 0.1vh;
    border-radius: 1vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 12vh;
}

#enableEditingButton{
    height: 10vh;
    width: 15vh;
    border-style: solid;
    border-width: 0.1vh;
    border-radius: 0.5vw;
    background-color: #262525;
    font-size: 5vh;
}

#enableEditingSpan{
    top: 1vh;
    position: relative;
    margin-left: 32vw;
}

#listHeader{
    margin-left: 1vw;
    font-size: 5vh;
}

.listBody{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: inherit;
    height: inherit;
}

#list{
    margin: inherit;
    padding: inherit;
    width: inherit;
    height: inherit;
}

.listItem, #newListItem{
    border-radius: 1vw;
    margin-bottom: 0.2em;
    height: 10vh;
    width: inherit;
    color: #d1cbcb;
    background-color: #202024;
    font-size: 4vh;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

#newListItem{
    width: 50vw;
    position: fixed;
    bottom: 0vh;
    left: 10vw;
    border-style: solid;
    border-width: 0.1vh;
}

.listItem:hover, .selected{
    background-color: #315cde;
}

/* When you are hoving over or viewing in detail */
.listItem.viewedInDetail{
    background-color: #315cde;
}

.listItemTextArea, #newListItemTextArea{
    font-size: inherit;
    color: inherit;
    resize:none;
    background-color: inherit;
    border: none;
    outline: none;
    margin-top: 1.2vw;
    margin-bottom: 2vw;
    margin-left: 1vw;
    margin-right: 0vh;
    height: 5vh;
    width: 39vw;
    overflow:hidden
}

.listItemLabel{
    display: inline-block;
    width: 10vw;
    height: inherit;
    text-align: center;
    margin-top: 1.5vw;
    margin-bottom: 2vw;
}

.itemDetailsTextArea{
    color: inherit;
    font-size: 2vh;
    background-color: #202024;
    border: none;
    resize:none;
    outline: none;
    width: 20vw;
    height: 5vh;
    padding: 0;
}

.itemDetailsLabel{
    color: inherit;
    background-color: #202024;
    font-size: 2vh;
    font-weight: bold;
    width: 9vw;
    height: 5vh;
}

#itemDetails_name{
    padding-top: 2vh;
    background-color: #202024;
    font-weight: bold;
    font-size: 3vh;
    height: 12vh;
    width: 28vw;
}

#itemDetails_quantity{
    overflow: hidden;
}

#itemDetails_saveChanges{
    width: 29vw;
    height: 3vh;
    border-radius: 1vw;
    border: none;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    color: #d1cbcb;
}

#itemDetails_description{
    height: 20vh;
}

.notReadyButton{
    background-color: #262525;
}

.readyButton{
    background-color: #315cde;
}

.itemDetailsInputContainer{
    background-color: #202024;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#deleteButtonSpan{
    width: 2vw;
}

#extraBottomSpace{
    height: 20vh;
    bottom: 0;
}

#extraTopSpace{
    height: 12vh;
}

.deleteButton{
    border: none;
    background-color: #202024;
    color: white;
    font-family: monospace;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 2vw;
    height: 2vw;
    font-size: 3vh;
}

.deleteButton:hover{
    color: #eb4034;
}

.notReadyToEdit{
    color: inherit;
    border-color: inherit;
}

.readyToEdit{
    color: lightgreen;
    border-color: lightgreen;
}