html, body {
    margin: 0 0 0 0;
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: "arial";
    font-size: 25px;
}
body::-webkit-scrollbar {
    display: none;
}